.mcs-container {
  width: 100%;
  max-height: 15em;
  overflow: auto;
  background: #ddd;
  box-sizing: border-box;
  display: none;
  position: relative;
  padding: .25em;
  clear: both
}

.mcs-container hr {
  padding: auto;
  margin: auto;
}

.additem,
.mcs-open,
.mcs-item {
  margin: .02em;
  box-sizing: border-box;
  background: #ccc;
  color: #222;
  text-decoration: none;
  float: left;
  height: 2em;
  line-height: 1.66em;
  text-align: center;
  border: .1em solid #aaa;
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
  border-radius: .25em;
  -khtml-border-radius: .25em;
  padding-top: .2em
}

.additem {
  min-width: 4em;
  width: auto;
  padding-right: .5em;
  padding-left: .5em
}

.mcs-item {
  width: 2.5em
}

.mcs-open {
  padding: .2em 1em .1em 1em
}

.mcs-open.open {
  background: #e8e8e8;
  color: #444
}

.mcs-item.active {
  background: #e8e8e8;
  color: #222
}

.additem:hover,
.mcs-item:hover,
.mcs-open:hover {
  background: #888;
  color: #ddd;
  cursor: pointer;
  text-decoration: none
}

.mcs-item.active:hover {
  background: #FFF;
  color: #222
}

.hidden {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute
}

.clear {
  display: block;
  clear: both
}

.mcs-open {
  font-family: 'Ubuntu', sans-serif;
  font-size: .9em
}

.additem,
.mcs-item {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em
}