#map {
  height: 400px;
  width: 100%;
}

div.wrap {
  width: 55%;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clearfix {
  clear: both;
}

ul.markers li {
  background-color: #aaa;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  margin: 0 5px 0 0;
  vertical-align: middle;
}

img.marker {
  height: 20px;
  width: 20px;
}
