#map {
  height: 400px;
  width: 55%;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clearfix {
  clear: both;
}

ul.markers li {
  display: inline-block;
  cursor: pointer;
  border: 1px grey;
  border-radius: 5px;
}
